@model List<PrimerCrud.Models.Persona>
<script>
    function ConfirmDelete(url) {
        if (window.confirm('¿Desea usted realmente seguro seguro pero re seguro borrar esta persona re facherite?')) {
            window.location.href = url;
            return true;
        }
        else {
            return false;
        }

    }

</script>

<body class="PEPE">
    <h1 >Listado de personas</h1>
    <div class="container" style="margin-top:7%; background: rgba(255,255,255,0.8); border-radius:10px">
        <table class="table table-bordered table-striped" >
            <thead>
                <tr>
                    <td>
                        Id
                    </td>
                    <td>
                        Nombre
                    </td>
                    <td>
                        Apellido
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <label>@item.Id</label>
                        </td>
                        <td>
                            <label>@item.Nombre </label>
                        </td>
                        <td>
                            <label>@item.Apellido</label>
                        </td>
                        <td>
                            <button class="btn btn-warning" onclick="document.location.href='@Url.Action("ModifyUser", "ModifyUser", new {Id = item.Id  })'">Modificar</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" style="margin-left:15px" onclick="ConfirmDelete('@Url.Action("DeleteUser", "DeleteUser", new {Id = item.Id  })');">Eliminar</button>
                        </td>

                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="col-md-3"><button onclick="document.location.href='@Url.Content("~/AddUser/AddUser")'" style="margin-top:3%" class="btn btn-default">Añadir Persona</button></div>
</body>